# compiled output
**/global-s3-assets
**/regional-s3-assets
**/analytics-backoffice-assets
**/tmp
**/env
**/node_modules
**/dist
**/open-source
**/.zip
**/.DS_Store
**/.venv
**/.vscode
**/__pycache__
**/.lambda_package
**/package-lock.json
